html, body {
    background-color: #000000;
    height: 95%;
}

main {
    width: 70%;
    height: 100%;
    background-color: #778899;
    margin: auto;
}
h1 {
    color: #FFFFFF;
    text-align: center;
}