html, body {
    background-color: #D3D3D3;
    height: 98%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

h1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #FFFFFF;
    text-align: center;
    font-family: monospace;
    font-size: 6em;
    margin-right: 1em;
    margin-bottom: 0.4em;
    margin-top: 0.7em;
    text-align: center;
}

#cc {
    margin-top: 0;
}
nav {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
    background-color: #D3D3D3;
    text-align:center;
}

#spacer {
    height: 5%;
}

nav li {
    display: inline-block;
    width: 27%;
    height: 100%;
    font-size: 3em;
    margin: auto;
    font-family: monospace;  
    text-align: center;
}
h3 {
    font-size: 2em;
}
nav a {
    text-decoration: none;
}

nav li:first-child {
    background-color: dimgray;
}

nav li:nth-child(2) {
    background-color: #EEC170;
}

nav li:nth-child(3) {
    background-color: #4ECDC4; 
}

main {
    width: 85%;
    padding-top: 0;
    margin-top: 0px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    position: relative;
    overflow: auto;
}

#cactus {
    background-image: url(cactus.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-color: dimgray;
    color: white;
    padding-right: 2em;
    margin-top: 4em;
    z-index:0;
}

#desert {
    background-color: #EEC170;
    color: darkgray;
    margin-top:3%;
    width:87.5%;
    z-index:-2;
    padding-bottom: 5%;
}

#rain {
    background-color: #4ECDC4;
    color: white;
    margin-top:3%;
    width:87.5%;
    z-index:-3;
    padding-bottom:5%;
}

main li {
 padding-top: 1em;   
font-size: 1.6em;
}

h2 {
font-size: 2.5em;
}

p {
font-size: 1.6em;
}

#grid {
    text-align: center;
    height:80%;
}
#grid div{
    display:inline-block;
    height:50%;
    width:30%;
    text-align: center;
    margin-bottom:0;
    vertical-align:top;
    
}

img {
    width:90%;
    height:auto;
    margin-top:5%;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

#desert:before { 
  display: block; 
  content: " "; 
  margin-top: -9.5%; 
  margin-top: -9.5%; 
  height: 9.5%; 
  visibility: hidden; 
}

#rain:before { 
  display: block; 
  content: " "; 
  margin-top: -9.5%; 
  height: 9.5%; 
  visibility: hidden; 
}

footer {
    width: 87.5%;
    bottom:0;
    display:absolute;
    height:4.5%;
    background-color:dimgray;
    text-align:center;
    margin: auto;
    margin-top:1%;
}

footer p {
    display:inline-block;
    font-family:monospace;
    color:white;
    padding-right:6em;
    font-size:1em;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color:white;
}

@media screen and (max-width: 842px) {
    .text {
        display: none;
    }
    
    .emoji {
        display: inline;
    }
    
    #cactus section {
        width: 100%;
        height: 100%;
        margin-left: 2%;
    }
    
    #cactus h1 {
        margin-right: 0;
    }
    
    #cactus p {
        text-align: center;
    }
    
}

@media screen and (min-width: 843px) {
    .text {
        display: inline;
    }
    
    .emoji {
        display: none;
    }
    
    #cactus section {
        width: 60%;
        height: 100%;
        margin-left: 2%;
    }
}